@import "colortheme.scss";
@import "sizetheme";
@import "../valo/valo.scss";


@mixin module {
  @include valo;

  .moduleIcon {
    width: 100px;
    height: 100px;
    margin-right: $modulePaddingMiddle;
    padding: $modulePaddingSmall $modulePaddingSmall $modulePaddingSmall $modulePaddingSmall;
  }

  .moduleFoot {
    width: 100%;
    padding: $modulePaddingMiddle $modulePaddingBig $modulePaddingMiddle $modulePaddingBig;
    border-top: $colorBorder $borderSize solid;
    .v-spacing {
      height: $modulePaddingSmall;
      width: $modulePaddingSmall;
    }
  }

  .moduleSimple{
    @extend .module;
    @extend .moduleContent;
  }

  .moduleContent {
    //width: 100%;
    height: 100%;
    padding: $modulePaddingBig $modulePaddingBig $modulePaddingBig $modulePaddingBig;
    .v-horizontal .v-spacing {
      //height: $modulePaddingBig;
      width: $modulePaddingBig;
    }

    .v-richtextarea {

      border: $borderAndroidDark $borderSize solid;
      border-radius: $borderRadius;
      //background: #2B2B2B;
      color: $colorFont;

   /*   .gwt-RichTextToolbar {
        color: $colorFont;
        background: #2B2B2B;
        border: $borderAndroidDark 0 solid;
        border-radius: $borderRadius;
      }

      .gwt-RichTextToolbar-top {
        color: $colorFont;
        background: #2B2B2B;
        border: $borderAndroidDark 0 solid;
        border-radius: $borderRadius;
      }

      .gwt-RichTextArea {
        color: $colorFont;
        background: $colorFont;
      }*/

    }
  }

  .moduleHead {
    //background: $colorBrand;
    width: 100%;
    padding: $modulePaddingSmall $modulePaddingBig $modulePaddingSmall $modulePaddingBig;
    border-bottom: $colorBorder $borderSize solid;
    font-size: $moduleNameSize;
    font-weight: bold;
    color: $colorFont;

  }

  .module {
    //height: 100%;
    //width: 100%;
    background: $colorModule;
    border: $borderAndroidDark $borderSize solid;
    border-radius: $borderRadius;
    .v-label {
      color: $colorFont;
    }

    .v-caption {
      font-size: 17px;
      padding-top: $modulePaddingBig;
      color: $colorFont;
    }

    .gwt-FileUpload {
      color: $colorFont;
    }

    .v-progressbar-wrapper {
      width: 200px;
      height: 20px;
    }

    .v-progressbar-indicator {
      background: $colorBrand;
      color: $colorBrand;
      border: $colorBrand $borderSize solid;
    }
  }




  .borderlessButton {
    border: none;
    background: transparent;
    font-weight: bold;
    color: $colorFont;
  }

  .testBorder {
    border: $colorBrand 3px solid;
  }

  .ui {
    background: $colorPage;
  }

  .talkTime {
    @extend .module;
    background: $colorBorder;
    border: none;
    .v-label {
      color: $colorFont;
    }
  }

  .talkTimeHead {
    @extend .moduleHead;
    font-weight: normal;
    border: none;
  }

  .v-label-empty {
    color: $colorPage;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    opacity: 0.5;
  }

}
