@import "colortheme.scss";
@import "sizetheme";
@import "../valo/valo.scss";


@mixin mymodule {
  @include valo;


  .moduleName {
    font-size: $moduleNameSize;
    font-weight: bold;
    color: $colorFont;
  }

  .moduleIcon {
    width: 100px;
    height: 100px;
    margin-right: $modulePaddingMiddle;
    padding: $modulePaddingSmall $modulePaddingSmall $modulePaddingSmall $modulePaddingSmall;
  }

  .moduleFoot {
    padding: $modulePaddingSmall $modulePaddingBig $modulePaddingSmall $modulePaddingBig;
    border-top: $colorBorder $borderSize solid;
    .v-spacing {
      height: $modulePaddingSmall;
      width: $modulePaddingSmall;
    }
  }

  .moduleContent {
    width: 100%;
    height: 100%;
    padding: $modulePaddingBig $modulePaddingBig $modulePaddingBig $modulePaddingBig;
    .v-spacing {
      height: $modulePaddingBig;
      width: $modulePaddingBig;
    }
  }

  .moduleHead {
    //background: $colorBrand;
    width: 100%;
    padding: $modulePaddingSmall $modulePaddingBig $modulePaddingSmall $modulePaddingBig;
    border-bottom: $colorBorder $borderSize solid;

  }

  .module {
    height: 100%;
    width: 100%;
    background: $colorModule;
    border: $colorBorder $borderSize solid;
    border-radius: $borderRadius;
  }

  .page {
    width: 100%;
    height: 100%;
    background: $colorPage;
    padding: $pageSpacing $pageSpacing $pageSpacing $pageSpacing;
    .v-spacing {
      height: $pageSpacing;
      width: $pageSpacing;
    }
  }

  .content {
    //background: $colorPage;
    height: 100%;
    width: 100%;
  }

}