@import "colortheme.scss";
@import "sizetheme";
@import "../valo/valo.scss";


@mixin mymodule {
  @include valo;

  .moduleIcon {
    width: 100px;
    height: 100px;
    margin-right: $modulePaddingMiddle;
    padding: $modulePaddingSmall $modulePaddingSmall $modulePaddingSmall $modulePaddingSmall;
  }

  .moduleFoot {
    width: 100%;
    padding: $modulePaddingMiddle $modulePaddingBig $modulePaddingMiddle $modulePaddingBig;
    border-top: $colorBorder $borderSize solid;
    .v-spacing {
      height: $modulePaddingSmall;
      width: $modulePaddingSmall;
    }
  }

  .moduleSimple{
    @extend .module;
    @extend .moduleContent;
  }

  .moduleContent {
    //width: 100%;
    height: 100%;
    padding: $modulePaddingBig $modulePaddingBig $modulePaddingBig $modulePaddingBig;
    .v-horizontal .v-spacing {
      //height: $modulePaddingBig;
      width: $modulePaddingBig;
    }

    .v-richtextarea {

      border: $borderAndroidDark $borderSize solid;
      border-radius: $borderRadius;
      //background: #2B2B2B;
      color: $colorFont;

   /*   .gwt-RichTextToolbar {
        color: $colorFont;
        background: #2B2B2B;
        border: $borderAndroidDark 0 solid;
        border-radius: $borderRadius;
      }

      .gwt-RichTextToolbar-top {
        color: $colorFont;
        background: #2B2B2B;
        border: $borderAndroidDark 0 solid;
        border-radius: $borderRadius;
      }

      .gwt-RichTextArea {
        color: $colorFont;
        background: $colorFont;
      }*/

    }
  }

  .moduleHead {
    //background: $colorBrand;
    width: 100%;
    padding: $modulePaddingSmall $modulePaddingBig $modulePaddingSmall $modulePaddingBig;
    border-bottom: $colorBorder $borderSize solid;
    font-size: $moduleNameSize;
    font-weight: bold;
    color: $colorFont;

  }

  .module {
    //height: 100%;
    //width: 100%;
    background: $colorModule;
    border: $borderAndroidDark $borderSize solid;
    border-radius: $borderRadius;
    .v-label {
      color: $colorFont;
    }

    .v-caption {
      padding-top: $modulePaddingBig;
      color: $colorFont;
    }

    .gwt-FileUpload {
      color: $colorFont;
    }
  }

  .page {
    //width: 100%;
    height: 100%;
    background: $colorPage;
    padding: 0 $pageSpacing $pageSpacing $pageSpacing;
    .v-spacing {
      height: $modulePaddingBig;
      width: $modulePaddingBig;
    }
  }

  .pageHeader {
    background: $colorModule;
    border-bottom: $borderAndroidDark 3px solid;
    padding-left: 10%;
    width: 100%;
    height: 70px;
    .v-label {
      color: $colorFont;
      font-weight: bold;
      font-size: 40px;
    }
  }

  .pageNavi {
    background: $colorModule;
    height: 100%;

    .v-nativebutton {
      width: 180px;
      font-size: 18px;
      color: $colorFont;
      border: $borderAndroidDark $borderSize solid;
      background: transparent;
      display: block;
      .v-icon {
        margin: $modulePaddingSmall $modulePaddingSmall $modulePaddingSmall $modulePaddingSmall;
      }
      &:hover {
        background: $colorFont;
        color: $colorModule;
        .v-icon {
          color: $colorModule;
        }
      }
    }

    .v-button {
      display: block;
      &:hover {
        background: $colorPage;
        color: $colorFont;
        .v-icon {
          color: $colorFont;
        }
      }
    }
  }

  .content {
    background: $colorPage;
  }

  .borderlessButton {
    border: none;
    background: transparent;
    font-weight: bold;
    color: $colorFont;
  }

  .testBorder {
    border: $colorBrand 3px solid;
  }

}
