@import "module";

@mixin page {


  .page {
    //width: 100%;
    height: 100%;
    background: $colorPage;
    padding: 0 $pageSpacing $pageSpacing $pageSpacing;
    .v-spacing {
      height: $modulePaddingBig;
      width: $modulePaddingBig;
    }
  }


  .pageHeader {
    background: $colorModule;
    border-bottom: $borderAndroidDark 3px solid;
    padding-left: 10%;
    width: 100%;
    height: 70px;
    .v-label {
      color: $colorFont;
      font-weight: bold;
      font-size: 40px;
    }
  }



  .pageNavi {
    background: $colorModule;
    height: 100%;

    .v-nativebutton {
      width: 180px;
      font-size: 18px;
      color: $colorFont;
      border: $borderAndroidDark $borderSize solid;
      background: transparent;
      display: block;
      .v-icon {
        margin: $modulePaddingSmall $modulePaddingSmall $modulePaddingSmall $modulePaddingSmall;
      }
      &:hover {
        background: $colorFont;
        color: $colorModule;
        .v-icon {
          color: $colorModule;
        }
      }
    }

    .v-button {
      display: block;
      &:hover {
        background: $colorPage;
        color: $colorFont;
        .v-icon {
          color: $colorFont;
        }
      }
    }
  }



}