
@import "mymodule";

@mixin search {

  .searchResultDetail {
    padding-left: $modulePaddingSmall;
  }

  .searchResultName {
    padding-top: $modulePaddingSmall;
    padding-bottom: 12px;
    font-size: $moduleNameSize;
  }

  .searchResultDescriptionLayout {
    margin-left: $modulePaddingBig;
  }
}